:root {
  --morao: #8a2be2;
  --amarillo: #f0cc00;
  --negro: #000000;
  --blanco: #fff;
  --mainfont: creep;
  --secondfont: "Open Sans", sans-serif;
}

@font-face {
  font-family: creep;
  src: url(fuentes/Malicious\ Moonlight\ Free.otf);
}

main {
  display: flex;
  flex-direction: row;
}

span {
  margin-right: 0;
}

section {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas con ancho flexible */
  grid-template-rows: repeat(2, 200px); /* Dos filas con altura fija de 100px */
  gap: 30px; /* Espacio entre las celdas */
}

.img {
  width: 200px;
  height: 200px;
  border-radius: 30px;
}
