:root {
  --morao: #8a2be2;
  --amarillo: #f0cc00;
  --negro: #000000;
  --blanco: #fff;
  --mainfont: creep;
  --secondfont: "Open Sans", sans-serif;
}

@font-face {
  font-family: creep;
  src: url(fuentes/Malicious\ Moonlight\ Free.otf);
}

main {
    display: flex;
    justify-content: space-between;
}

span {
    margin-left: 5%;
    margin-right: 0;
}

h1 {
  font-size: 35px;
  color: var(--amarillo);
  font-family: var(--mainfont);
}

section {
    max-width: 830px;
}

.uno {
  width: 234px;
  height: 173px;
  border-radius: 73px;
}

.dos {
  width: 161px;
  height: 215px;
  border-radius: 73px;
}

.tres {
  width: 184px;
  height: 215px;
  border-radius: 73px;
}

.cuatro {
  width: 211px;
  height: 210px;
  border-radius: 73px;
}

.cinco {
  width: 203px;
  height: 209px;
  border-radius: 73px;
}

.seis {
  width: 188px;
  height: 209px;
  border-radius: 73px;
}
