:root {
    --morao: #8a2be2;
    --amarillo: #f0cc00;
    --negro: #000000;
    --blanco: #fff;
    --mainfont: creep;
    --secondfont: 'Open Sans', sans-serif;
}
main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2% 3% 3% 0%;
    
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-right: 10px;
    width: 638px;
    height: 521px;
}
article {
    display: flex;
    width: 638px;
    height: 30px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
p {
margin-left: 30px;
display: flex;
align-items: center;
}
article p {
    font-family: var(--secondfont);
    color: var(--blanco);
    display: flex;
    flex-direction: row;
    font-size: 12px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 30px;


}
.medicos {
    width: 400px;
    border-radius: 79px;
    margin-top: 30px;
}

.email {
color:var(--amarillo);
    text-decoration: underline ;
}
button{
    background: var(--negro);
    font-family: var(--mainfont);
    width: auto;
    height: 3rem;
    margin-top: 80px;
    color: var(--morao);
    border-radius: 15px;
    border-color: #f0cc00;
}
button {
    transform: scale(1);
    transition: transform 0.3s ease;
    /* Transición suave en la escala durante 0.3 segundos con una función de temporización 'ease' */
}

button:hover {
    transform: scale(1.5);
    /* Al pasar el ratón, escala el elemento al 150% de su tamaño original */
}