section {
  margin-right: 35px;
  width: 60%;
}

h1 {
  display: flex;
  justify-content: center;
}

.criaturita {
  width: 400px;
  border-radius: 73px;
  margin-left: 15px;
}

.muchotexto {
  font-size: 20px;
  margin-top: 15px;
}

.negrita {
  font-weight: bold;
}
